---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import os
os.getcwd()

'/Users/sagashin/Desktop/Applied Text Mining UM/Applied-Text-Mining-UM-master'

In [70]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [3]:
def date_sorter():
    
    # Your code here
    
    return # Your answer here

In [ ]:
#make dataframe
df3 = pd.DataFrame(columns=['text'])
df3['text'] = df

In [ ]:
#dates ver1 standard format date extraction
df3['dates'] = df.str.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}')

In [136]:
#dates ver 2 4-digits, only year is available
df3['dates2'] = df.str.findall(r'\d{4}')

In [155]:
#dates ver 3 Month is like Oct, October
df3['dates3'] = df.str.findall(r'(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{1,2}, )?\d{4}')[200:300]

In [280]:
#year treatment
rown = []
year = []
for i in df3['dates']:
    if len(i) == 0:
        rn = 0
        yr = 0
    else:
        rn = 1
        yr = pd.to_datetime(df3['dates'][i])
    rown.append(rn)
    year.append(yr)

In [ ]:
df3['flg1'] = rown

In [284]:
df4 = df3[df3['flg1']==1]

In [289]:
year = []
for i in df4['dates']:
    print(i)

['03/25/93']
['6/18/85']
['7/8/71']
['9/27/75']
['2/6/96']
['7/06/79']
['5/18/78']
['10/24/89']
['3/7/86']
['4/10/71']
['5/11/85']
['4/09/75']
['8/01/98']
['1/26/72']
['5/24/1990']
['1/25/2011']
['4/12/82']
['10/13/1976']
['4/24/98']
['5/21/77']
['7/21/98']
['10/21/79']
['3/03/90']
['2/11/76']
['07/25/1984']
['4-13-82']
['9/22/89']
['9/02/76']
['9/12/71']
['10/24/86']
['03/31/1985']
['7/20/72']
['4/12/87']
['06/20/91']
['5/12/2012']
['3/15/83']
['2/14/73']
['5/24/88']
['7/27/1986']
['1-14-81']
['7-29-75']
['6/24/87']
['8/14/94']
['4/13/2002']
['8/16/82']
['2/15/1998']
['7/15/91']
['06/12/94']
['9/17/84']
['2/28/75']
['11/22/75']
['5/24/91']
['6/13/92']
['7/11/71']
['12/26/86']
['10/11/1987']
['3/14/95']
['12/01/73']
['12/5/2010']
['08/20/1982']
['7/24/95']
['8/06/83']
['02/22/92']
['6/28/87']
['07/29/1994']
['08/11/78']
['10/29/91']
['7/6/91']
['1/21/87']
['11/3/1985']
['7/04/82']
['4-13-89']
['7/11/77', '9/36/308']
['4/12/74']
['09/19/81']
['9/6/79']
['12/5/87']
['01/05/1999']
['4/22/80']
['10/04/98']
['6/29/81']
['8/04/78']
['7/07/1974']
['09/14/2000']
['5/18/71']
['8/09/1981']
['6/05/93']
['8/9/97']
['12/8/82']
['8/26/89']
['10/13/95']
['4/19/91']
['04/08/2004']
['9/20/76']
['12/08/1990']
['4/11/1974']
['7/18/86']
['3/31/91']
['5/13/72']
['11/14/83']
['8/16/92']
['10/05/97']
['07/18/2002']
['9/22/82']
['2/24/74']
['2/03/78']
['2/11/2006']
['8/22/83']
['5/04/74']
['7/20/2011']
['6/17/95']
['6/10/72']
['10/16/82']
['12/15/92']
['12/8/97']
['4/05/89']
['12/04/87']
['6/20/77']
['4/27/2006']
['07/17/92']
['12/22/98']
['10/02/96']
['11/05/90']
['5/04/77']
['2/27/96']

In [270]:
tes = pd.to_datetime(df3['dates'][1])

In [265]:
tes

DatetimeIndex(['1997-10-05'], dtype='datetime64[ns]', freq=None)

In [100]:
from datetime import datetime

In [158]:
df3.iloc[350:450]

                                                  text dates  dates2 dates3
350                      5/2004 Primary Care Doctor:\n    []  [2004]    NaN
351  A pleasant 28 yo woman with no formal psychiat...    []  [1974]    NaN
352  See initial PROMPTCARE evaluation from 3/1986 ...    []  [1986]    NaN
353                     10/1997 Primary Care Doctor:\n    []  [1997]    NaN
354  Deviated septum, 3/1993 Activities of Daily Li...    []  [1993]    NaN
355                      3/1981 Primary Care Doctor:\n    []  [1981]    NaN
356  . Patient states that she will follow up with ...    []  [2003]    NaN
357                         % 10/1993 Echo: LVEF 60%\n    []  [1993]    NaN
358                            .Mother died, 1/1983.\n    []  [1983]    NaN
359                                  . GBSG : 7/1994\n    []  [1994]    NaN
360                     12/2008 Primary Care Doctor:\n    []  [2008]    NaN
361  n Abnormal CXR : 10/1980 ? scarring @ R heart ...    []  [1980]    NaN
362  md. metabolic montioring as indicated inc. ann...    []  [2003]    NaN
363                     12/1975 Primary Care Doctor:\n    []  [1975]    NaN
364  sDr. Yaeger at Jarman Memorial Hospital for me...    []  [2010]    NaN
365  sCurrently See Jeremiah Ngo in Omak. Sees 2x m...    []  [1997]    NaN
366  1. Metastatic pancreatic adenocarcinoma, dx: 7...    []  [2014]    NaN
367  rtherapy: Patient states that she will follow ...    []  [2001]    NaN
368           craniotomy 8/1986 Prior relevant labs:\n    []  [1986]    NaN
369                      1/1978 Primary Care Doctor:\n    []  [1978]    NaN
370  4 (9/1975)Patient's thoughts about current sub...    []  [1975]    NaN
371  s Pt is a 73-y.o. MWW with a history of recurr...    []  [2009]    NaN
372         7Xitlaly Hobbs OP med mgmt since 5/1995.\n    []  [1995]    NaN
373  Up until his accident, patient would drink 3-4...    []  [1989]    NaN
374  weight reduction surgery- bariatic sleeve 11/2...    []  [2000]    NaN
375                     06/1973 Primary Care Doctor:\n    []  [1973]    NaN
376  2/1999; 472 ms re QTcPertinent Medical Review ...    []  [1999]    NaN
377  s Pt. is a 59 y.o. woman w/ hx PTSD and anxiet...    []  [2001]    NaN
378  The pt. is a 45 Y/O F who comes in to discuss ...    []  [1978]    NaN
379                      8/2009 Primary Care Doctor:\n    []  [2009]    NaN
..                                                 ...   ...     ...    ...
420  .Patient reports overall stable mental health ...    []  [2000]    NaN
421  sChesterfield 9/1984 for 3 weeks for dual diag...    []  [1984]    NaN
422                      4/1973 Primary Care Doctor:\n    []  [1973]    NaN
423  Polyarteritis nodosa, presumed (p/w LE claudic...    []  [1986]    NaN
424  db. routine metabolic montoring as indicated a...    []  [1979]    NaN
425  sS/P TAH/BSO : 7/2004 for endometrial hyperpla...    []  [2004]    NaN
426  Retired in 11/1984 after teaching for 30 years...    []  [1984]    NaN
427  6e. monitor pt's depressive experience in cont...    []  [2016]    NaN
428                      e12/2007 dx of endocarditis\n    []  [2007]    NaN
429                     11/1982 Primary Care Doctor:\n    []  [1982]    NaN
430                  06/1981 Hx of Brain Injury: Yes\n    []  [1981]    NaN
431  CBC, CMP, TSH, EKG: re: QTc 445 ms in 4/2013 C...    []  [2013]    NaN
432  s Pt. is a 76-y.o. WWW who presents in the con...    []  [1999]    NaN
433       a Endometriosis : dx on laparoscopy 5/2006\n    []  [2006]    NaN
434  10/1978 Communication with referring physician...    []  [1978]    NaN
435                 . First Rx'd medication 12/1989.\n    []  [1989]    NaN
436                     "Tapered off Xanax in 2/1974\n    []  [1974]    NaN
437  bObesity : 11/1986 MCC LAPAROSCOPIC PARTIAL VE...    []  [1986]    NaN
438  . 4/1983:  Dr. Tejeda recently consulted throu...    []  [1983]    NaN
439  Since 10/2014: Fatigued, more forgetful, impai...    []  [2014]    NaN
440                      6/1989 Primary Care Doctor:\n    []  [1989]    NaN
441                      9/1980 Primary Care Doctor:\n    []  [1980]    NaN
442                      9/1992 Primary Care Doctor:\n    []  [1992]    NaN
443  s30 days in GA in 9/2000. Hx of Outpatient Tre...    []  [2000]    NaN
444                      7/1981 Primary Care Doctor:\n    []  [1981]    NaN
445  9 Queen Maldonado, LICSW - dynamic/supportive ...    []  [2008]    NaN
446  Raised in Sao Tome by both parents along with ...    []  [2002]    NaN
447  .Patient currently feels "up and down" at time...    []  [1985]    NaN
448                    5/2010 Hx of Brain Injury: No\n    []  [2010]    NaN
449                             r Pneumonia : 8/2002\n    []  [2002]    NaN

[100 rows x 4 columns]

In [148]:
df[100:200]

100                        8/16/92 SOS-10 Total Score:\n
101      10/05/97 CPT Code: 90791: No medical services\n
102    07/18/2002 CPT Code: 90792: With medical servi...
103          9/22/82 Total time of visit (in minutes):\n
104                        2/24/74 SOS-10 Total Score:\n
105    (2/03/78) TSH-0.90 Activities of Daily Living ...
106     2/11/2006 CPT Code: 90791: No medical services\n
107    Pt is a 21 year old, single, heterosexual iden...
108    PET Scan (DPSH 5/04/74): 1) Marked hypometabol...
109                             7/20/2011 [report_end]\n
110          6/17/95 Total time of visit (in minutes):\n
111                        6/10/72 SOS-10 Total Score:\n
112    nPt denied use to me but endorsed use on 10/16...
113    12/15/92 CPT Code: 90801 - Psychiatric Diagnos...
114                        12/8/97 SOS-10 Total Score:\n
115                       4/05/89 Primary Care Doctor:\n
116                       12/04/87 SOS-10 Total Score:\n
117                  4 (6/20/77)Audit C Score Current:\n
118    see 4/27/2006 consult note Dr. GuevaraWhat fac...
119      07/17/92 CPT Code: 90791: No medical services\n
120    12/22/98 CPT Code: 90801 - Psychiatric Diagnos...
121                                      10/02/96 Age:\n
122    11/05/90 CPT Code: 90792: With medical services\n
123     5/04/77 CPT Code: 90792: With medical services\n
124    2/27/96 Communication with referring physician...
125    s The patient is a 44 year old married Caucasi...
126    .10 Sep 2004 - Intake at EEC for IOP but did n...
127    see above and APS eval of 26 May 1982 Social H...
128    Tbooked for intake appointment at Sierra Vista...
129                    06 May 1972 SOS-10 Total Score:\n
                             ...
170    44 y/o MWF, unemployed Decorator, living with ...
171      04 Oct 1972 Total time of visit (in minutes):\n
172    .On 23 Aug 1993 at return office visit Dr. Fis...
173                                   18 Oct 2006 Age:\n
174    .On 04 Dec 1988 the patient was admitted to Fa...
175    .On 21 Oct 1983 patient was discharged from Sc...
176    see above and APS eval of 26 May 2010 Educatio...
177    22 year old single Caucasian/Latino woman, une...
178    15 Jun 1985 @ 11 AMCommunication with referrin...
179    .On 10 Dec 1982, the first night after hospita...
180    .On 09 Dec 1988 the patient was discharged hom...
181                18 August 1995 Primary Care Doctor:\n
182    eby 13 June 1974 it appears amitriptyline had ...
183    see above and APS eval of 26 May 2008 Financia...
184                    11 Nov 2002 SOS-10 Total Score:\n
185    see 17 Aug 1985 eval by Dr. Ngo.Social History...
186                   13 Oct 2016 Primary Care Doctor:\n
187      14 Jan 2008 Total time of visit (in minutes):\n
188    12 March 2004 CPT Code: 90801 - Psychiatric Di...
189    ssee 21 Oct 1977 Schroder Hospital discharge s...
190    .By 10 Aug 2000 patient was rehospitalized at ...
191                    30 Nov 1972 SOS-10 Total Score:\n
192    06 May 1993 CPT Code: 90792: With medical serv...
193    s 22 year old single Caucasian/Latino woman, u...
194    April 11, 1990 CPT Code: 90791: No medical ser...
195    MRI May 30, 2001 empty sella but no problems w...
196    .Feb 18, 1994: made a phone call to Mom and Mo...
197    Brother died February 18, 1981 Parental/Caregi...
198    none; but currently has appt with new HJH PCP ...
199    .Came back to US on Jan 24 1986, saw Dr. Quack...
dtype: object

In [278]:
year = []
for i in df3['dates']:
    yr = pd.to_datetime(df3['dates'][i])
    year.append(yr)
year

[03/25/93   NaT
 Name: dates, dtype: datetime64[ns], 6/18/85   NaT
 Name: dates, dtype: datetime64[ns], 7/8/71   NaT
 Name: dates, dtype: datetime64[ns], 9/27/75   NaT
 Name: dates, dtype: datetime64[ns], 2/6/96   NaT
 Name: dates, dtype: datetime64[ns], 7/06/79   NaT
 Name: dates, dtype: datetime64[ns], 5/18/78   NaT
 Name: dates, dtype: datetime64[ns], 10/24/89   NaT
 Name: dates, dtype: datetime64[ns], 3/7/86   NaT
 Name: dates, dtype: datetime64[ns], 4/10/71   NaT
 Name: dates, dtype: datetime64[ns], 5/11/85   NaT
 Name: dates, dtype: datetime64[ns], 4/09/75   NaT
 Name: dates, dtype: datetime64[ns], 8/01/98   NaT
 Name: dates, dtype: datetime64[ns], 1/26/72   NaT
 Name: dates, dtype: datetime64[ns], 5/24/1990   NaT
 Name: dates, dtype: datetime64[ns], 1/25/2011   NaT
 Name: dates, dtype: datetime64[ns], 4/12/82   NaT
 Name: dates, dtype: datetime64[ns], 10/13/1976   NaT
 Name: dates, dtype: datetime64[ns], 4/24/98   NaT
 Name: dates, dtype: datetime64[ns], 5/21/77   NaT
 Name: dates, dtype: datetime64[ns], 7/21/98   NaT
 Name: dates, dtype: datetime64[ns], 10/21/79   NaT
 Name: dates, dtype: datetime64[ns], 3/03/90   NaT
 Name: dates, dtype: datetime64[ns], 2/11/76   NaT
 Name: dates, dtype: datetime64[ns], 07/25/1984   NaT
 Name: dates, dtype: datetime64[ns], 4-13-82   NaT
 Name: dates, dtype: datetime64[ns], 9/22/89   NaT
 Name: dates, dtype: datetime64[ns], 9/02/76   NaT
 Name: dates, dtype: datetime64[ns], 9/12/71   NaT
 Name: dates, dtype: datetime64[ns], 10/24/86   NaT
 Name: dates, dtype: datetime64[ns], 03/31/1985   NaT
 Name: dates, dtype: datetime64[ns], 7/20/72   NaT
 Name: dates, dtype: datetime64[ns], 4/12/87   NaT
 Name: dates, dtype: datetime64[ns], 06/20/91   NaT
 Name: dates, dtype: datetime64[ns], 5/12/2012   NaT
 Name: dates, dtype: datetime64[ns], 3/15/83   NaT
 Name: dates, dtype: datetime64[ns], 2/14/73   NaT
 Name: dates, dtype: datetime64[ns], 5/24/88   NaT
 Name: dates, dtype: datetime64[ns], 7/27/1986   NaT
 Name: dates, dtype: datetime64[ns], 1-14-81   NaT
 Name: dates, dtype: datetime64[ns], 7-29-75   NaT
 Name: dates, dtype: datetime64[ns], 6/24/87   NaT
 Name: dates, dtype: datetime64[ns], 8/14/94   NaT
 Name: dates, dtype: datetime64[ns], 4/13/2002   NaT
 Name: dates, dtype: datetime64[ns], 8/16/82   NaT
 Name: dates, dtype: datetime64[ns], 2/15/1998   NaT
 Name: dates, dtype: datetime64[ns], 7/15/91   NaT
 Name: dates, dtype: datetime64[ns], 06/12/94   NaT
 Name: dates, dtype: datetime64[ns], 9/17/84   NaT
 Name: dates, dtype: datetime64[ns], 2/28/75   NaT
 Name: dates, dtype: datetime64[ns], 11/22/75   NaT
 Name: dates, dtype: datetime64[ns], 5/24/91   NaT
 Name: dates, dtype: datetime64[ns], 6/13/92   NaT
 Name: dates, dtype: datetime64[ns], 7/11/71   NaT
 Name: dates, dtype: datetime64[ns], 12/26/86   NaT
 Name: dates, dtype: datetime64[ns], 10/11/1987   NaT
 Name: dates, dtype: datetime64[ns], 3/14/95   NaT
 Name: dates, dtype: datetime64[ns], 12/01/73   NaT
 Name: dates, dtype: datetime64[ns], 12/5/2010   NaT
 Name: dates, dtype: datetime64[ns], 08/20/1982   NaT
 Name: dates, dtype: datetime64[ns], 7/24/95   NaT
 Name: dates, dtype: datetime64[ns], 8/06/83   NaT
 Name: dates, dtype: datetime64[ns], 02/22/92   NaT
 Name: dates, dtype: datetime64[ns], 6/28/87   NaT
 Name: dates, dtype: datetime64[ns], 07/29/1994   NaT
 Name: dates, dtype: datetime64[ns], 08/11/78   NaT
 Name: dates, dtype: datetime64[ns], 10/29/91   NaT
 Name: dates, dtype: datetime64[ns], 7/6/91   NaT
 Name: dates, dtype: datetime64[ns], 1/21/87   NaT
 Name: dates, dtype: datetime64[ns], 11/3/1985   NaT
 Name: dates, dtype: datetime64[ns], 7/04/82   NaT
 Name: dates, dtype: datetime64[ns], 4-13-89   NaT
 Name: dates, dtype: datetime64[ns], 7/11/77    NaT
 9/36/308   NaT
 Name: dates, dtype: datetime64[ns], 4/12/74   NaT
 Name: dates, dtype: datetime64[ns], 09/19/81   NaT
 Name: dates, dtype: datetime64[ns], 9/6/79   NaT
 Name: dates, dtype: datetime64[ns], 12/5/87   NaT
 Name: dates, dtype: datetime64[ns], 01/05/1999   NaT
 Name: dates, dtype: datetime64[ns], 4/22/80   NaT
 Name: dates, dtype: datetime64[ns], 10/04/98   NaT
 Name: dates, dtype: datetime64[ns], 6/29/81   NaT
 Name: dates, dtype: datetime64[ns], 8/04/78   NaT
 Name: dates, dtype: datetime64[ns], 7/07/1974   NaT
 Name: dates, dtype: datetime64[ns], 09/14/2000   NaT
 Name: dates, dtype: datetime64[ns], 5/18/71   NaT
 Name: dates, dtype: datetime64[ns], 8/09/1981   NaT
 Name: dates, dtype: datetime64[ns], 6/05/93   NaT
 Name: dates, dtype: datetime64[ns], 8/9/97   NaT
 Name: dates, dtype: datetime64[ns], 12/8/82   NaT
 Name: dates, dtype: datetime64[ns], 8/26/89   NaT
 Name: dates, dtype: datetime64[ns], 10/13/95   NaT
 Name: dates, dtype: datetime64[ns], 4/19/91   NaT
 Name: dates, dtype: datetime64[ns], 04/08/2004   NaT
 Name: dates, dtype: datetime64[ns], 9/20/76   NaT
 Name: dates, dtype: datetime64[ns], 12/08/1990   NaT
 Name: dates, dtype: datetime64[ns], 4/11/1974   NaT
 Name: dates, dtype: datetime64[ns], 7/18/86   NaT
 Name: dates, dtype: datetime64[ns], 3/31/91   NaT
 Name: dates, dtype: datetime64[ns], 5/13/72   NaT
 Name: dates, dtype: datetime64[ns], 11/14/83   NaT
 Name: dates, dtype: datetime64[ns], 8/16/92   NaT
 Name: dates, dtype: datetime64[ns], 10/05/97   NaT
 Name: dates, dtype: datetime64[ns], 07/18/2002   NaT
 Name: dates, dtype: datetime64[ns], 9/22/82   NaT
 Name: dates, dtype: datetime64[ns], 2/24/74   NaT
 Name: dates, dtype: datetime64[ns], 2/03/78   NaT
 Name: dates, dtype: datetime64[ns], 2/11/2006   NaT
 Name: dates, dtype: datetime64[ns], 8/22/83   NaT
 Name: dates, dtype: datetime64[ns], 5/04/74   NaT
 Name: dates, dtype: datetime64[ns], 7/20/2011   NaT
 Name: dates, dtype: datetime64[ns], 6/17/95   NaT
 Name: dates, dtype: datetime64[ns], 6/10/72   NaT
 Name: dates, dtype: datetime64[ns], 10/16/82   NaT
 Name: dates, dtype: datetime64[ns], 12/15/92   NaT
 Name: dates, dtype: datetime64[ns], 12/8/97   NaT
 Name: dates, dtype: datetime64[ns], 4/05/89   NaT
 Name: dates, dtype: datetime64[ns], 12/04/87   NaT
 Name: dates, dtype: datetime64[ns], 6/20/77   NaT
 Name: dates, dtype: datetime64[ns], 4/27/2006   NaT
 Name: dates, dtype: datetime64[ns], 07/17/92   NaT
 Name: dates, dtype: datetime64[ns], 12/22/98   NaT
 Name: dates, dtype: datetime64[ns], 10/02/96   NaT
 Name: dates, dtype: datetime64[ns], 11/05/90   NaT
 Name: dates, dtype: datetime64[ns], 5/04/77   NaT
 Name: dates, dtype: datetime64[ns], 2/27/96   NaT

In [208]:
import numpy as np

In [253]:
df3['year'] = np.where(df3['flg1'] == 0, df3['dates2'], df3['dates'].year)

AttributeError: 'Series' object has no attribute 'year'

In [246]:
df3.head()

,text,dates,dates2,dates3,year,flg1
0,03/25/93 Total time of visit (in minutes):\n,[03/25/93],[],NaN,[03/25/93],1
1,6/18/85 Primary Care Doctor:\n,[6/18/85],[],NaN,[6/18/85],1
2,sshe plans to move as of 7/8/71 In-Home Servic...,[7/8/71],[],NaN,[7/8/71],1
3,7 on 9/27/75 Audit C Score Current:\n,[9/27/75],[],NaN,[9/27/75],1
4,2/6/96 sleep studyPain Treatment Pain Level (N...,[2/6/96],[],NaN,[2/6/96],1

In [241]:
rown = []
for i in df3['dates']:
    if len(i) == 0:
        rn = 0
    else:
        rn = 1
    rown.append(rn)

In [251]:
df3.iloc[1:100]

,text,dates,dates2,dates3,year,flg1
1,6/18/85 Primary Care Doctor:\n,[6/18/85],[],NaN,[6/18/85],1
2,sshe plans to move as of 7/8/71 In-Home Servic...,[7/8/71],[],NaN,[7/8/71],1
3,7 on 9/27/75 Audit C Score Current:\n,[9/27/75],[],NaN,[9/27/75],1
4,2/6/96 sleep studyPain Treatment Pain Level (N...,[2/6/96],[],NaN,[2/6/96],1
5,.Per 7/06/79 Movement D/O note:\n,[7/06/79],[],NaN,[7/06/79],1
6,"4, 5/18/78 Patient's thoughts about current su...",[5/18/78],[],NaN,[5/18/78],1
7,10/24/89 CPT Code: 90801 - Psychiatric Diagnos...,[10/24/89],[9080],NaN,[10/24/89],1
8,3/7/86 SOS-10 Total Score:\n,[3/7/86],[],NaN,[3/7/86],1
9,(4/10/71)Score-1Audit C Score Current:\n,[4/10/71],[],NaN,[4/10/71],1
10,"(5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC...",[5/11/85],[],NaN,[5/11/85],1
11,4/09/75 SOS-10 Total Score:\n,[4/09/75],[],NaN,[4/09/75],1
12,8/01/98 Communication with referring physician...,[8/01/98],[],NaN,[8/01/98],1
13,1/26/72 Communication with referring physician...,[1/26/72],[],NaN,[1/26/72],1
14,5/24/1990 CPT Code: 90792: With medical servic...,[5/24/1990],"[1990, 9079]",NaN,[5/24/1990],1
15,1/25/2011 CPT Code: 90792: With medical servic...,[1/25/2011],"[2011, 9079]",NaN,[1/25/2011],1
16,4/12/82 Total time of visit (in minutes):\n,[4/12/82],[],NaN,[4/12/82],1
17,"1; 10/13/1976 Audit C Score, Highest/Date:\n",[10/13/1976],[1976],NaN,[10/13/1976],1
18,"4, 4/24/98 Relevant Drug History:\n",[4/24/98],[],NaN,[4/24/98],1
19,) 59 yo unemployed w referred by Urgent Care f...,[5/21/77],[],NaN,[5/21/77],1
20,7/21/98 Total time of visit (in minutes):\n,[7/21/98],[],NaN,[7/21/98],1
21,210/21/79 SOS-10 Total Score:\n,[10/21/79],[],NaN,[10/21/79],1
22,3/03/90 CPT Code: 90792: With medical services\n,[3/03/90],[9079],NaN,[3/03/90],1
23,2/11/76 CPT Code: 90792: With medical services\n,[2/11/76],[9079],NaN,[2/11/76],1
24,07/25/1984 CPT Code: 90791: No medical services\n,[07/25/1984],"[1984, 9079]",NaN,[07/25/1984],1
25,4-13-82 Other Child Mental Health Outcomes Sca...,[4-13-82],[],NaN,[4-13-82],1
26,9/22/89 CPT Code: 90792: With medical services\n,[9/22/89],[9079],NaN,[9/22/89],1
27,9/02/76 CPT Code: 90791: No medical services\n,[9/02/76],[9079],NaN,[9/02/76],1
28,9/12/71 [report_end]\n,[9/12/71],[],NaN,[9/12/71],1
29,10/24/86 Communication with referring physicia...,[10/24/86],[],NaN,[10/24/86],1
30,03/31/1985 Total time of visit (in minutes):\n,[03/31/1985],[1985],NaN,[03/31/1985],1
...,...,...,...,...,...,...
70,7/04/82 CPT Code: 90801 - Psychiatric Diagnosi...,[7/04/82],[9080],NaN,[7/04/82],1
71,4-13-89 Communication with referring physician...,[4-13-89],[],NaN,[4-13-89],1
72,Lithium 0.25 (7/11/77). LFTS wnl. Urine tox ...,"[7/11/77, 9/36/308]",[],NaN,"[7/11/77, 9/36/308]",1
73,4/12/74= 1Caffeine / Tobacco Use Caffeinated p...,[4/12/74],[],NaN,[4/12/74],1
74,09/19/81 CPT Code: 90792: With medical services\n,[09/19/81],[9079],NaN,[09/19/81],1
75,9/6/79 Primary Care Doctor:\n,[9/6/79],[],NaN,[9/6/79],1
76,12/5/87 Total time of visit (in minutes):\n,[12/5/87],[],NaN,[12/5/87],1
77,01/05/1999 [report_end]\n,[01/05/1999],[1999],NaN,[01/05/1999],1
78,4/22/80 SOS-10 Total Score:\n,[4/22/80],[],NaN,[4/22/80],1
79,10/04/98 SOS-10 Total Score:\n,[10/04/98],[],NaN,[10/04/98],1
80,.Mr. Echeverria described having panic-like ex...,[6/29/81],[],NaN,[6/29/81],1
81,". Wile taking additional history, pt endorsed ...",[8/04/78],[],NaN,[8/04/78],1
82,Death of mother; 7/07/1974 Meaningful activiti...,[7/07/1974],[1974],NaN,[7/07/1974],1
83,09/14/2000 CPT Code: 90792: With medical servi...,[09/14/2000],"[2000, 9079]",NaN,[09/14/2000],1
84,5/18/71 Total time of visit (in minutes):\n,[5/18/71],[],NaN,[5/18/71],1
85,8/09/1981 Communication with referring physici...,[8/09/1981],[1981],NaN,[8/09/1981],1
86,6/05/93 CPT Code: 90791: No medical services\n,[6/05/93],[9079],NaN,[6/05/93],1
87,)Dilantin (PHENYTOIN) 100 MG CAPSULE Take 2 Ca...,[8/9/97],[],NaN,[8/9/97],1
88,12/8/82 Audit C=3Audit C Score Current:\n,[12/8/82],[],NaN,[12/8/82],1
89,8/26/89 CPT Code: 90791: No medical services\n,[8/26/89],[9079],NaN,[8/26/89],1
90,10/13/95 CPT Code: 90791: No medical services\n,[10/13/95],[9079],NaN,[10/13/95],1
91,4/19/91 Communication with referring physician...,[4/19/91],[],NaN,[4/19/91],1
92,.APS - Psychiatry consult paged/requested in p...,[04/08/2004],[2004],NaN,[04/08/2004],1
93,9/20/76 CPT Code: 90801 - Psychiatric Diagnosi...,[9/20/76],[9080],NaN,[9/20/76],1
94,12/08/1990 @11 am [report_end]\n,[12/08/1990],[1990],NaN,[12/08/1990],1
95,4/11/1974 Chief Complaint / HPI Chief Complain...,[4/11/1974],[1974],NaN,[4/11/1974],1
96,7/18/86 SOS-10 Total Score:\n,[7/18/86],[],NaN,[7/18/86],1
97,3/31/91 Communication with referring physician...,[3/31/91],[],NaN,[3/31/91],1
98,5/13/72 Other Adult Mental Health Outcomes Sca...,[5/13/72],[],NaN,[5/13/72],1
99,011/14/83 Audit C Score Current:\n,[11/14/83],[],NaN,[11/14/83],1